

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}



.topbar{
    width: 100%;
    background: #576e9d;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1f2937;
}

.logo{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.home-btn{
    background: #1f2937;
    border: none;
    color: white;
    padding: 8px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.home-btn:hover{
    background: #2563eb;
}



.container{
    max-width: 1300px;
    margin: auto;
    padding: 25px;
}

.card{
    background: #1e325d;
    border-radius: 18px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 10px 30px rgba(2, 29, 130, 0.4);
}

h2, h3{
    margin-top: 0;
    font-weight: 600;
}



#viewer{
    width: 100%;
    height: 480px;
    border-radius: 14px;
    overflow: hidden;
}


#controls{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.control-row{
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}



button{
    background: #1f2937;
    border: none;
    color: white;
    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.25s;
}

button:hover{
    background: #2563eb;
}

button:active{
    transform: scale(0.96);
}

.play-btn{
    background: #10b981;
    color: black;
    font-weight: bold;
}



input[type=file]{
    background: #1f2937;
    border: none;
    padding: 8px;
    border-radius: 10px;
    color: white;
}



input[type=range]{
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 6px;
    border-radius: 5px;
    background: #1f2937;
    outline: none;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #10b981;
    cursor: pointer;
    transition: 0.2s;
}

input[type=range]::-webkit-slider-thumb:hover{
    transform: scale(1.2);
}



#channel-controls{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

#channel-controls label{
    background: #1f2937;
    padding: 6px 14px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: 0.2s;
}

#channel-controls label:hover{
    background: #2563eb;
}

#channel-controls input{
    accent-color: #10b981;
}
